.bkcl {
  /*background-color: aquamarine;*/
  height: 328px;
}

.bkc {
  /*background-color: rosybrown;*/
  height: 328px;
}

.bkc2 {
  /*background-color: red;*/
  display: block;
  height: 790px;
}

.bkcr {
  /*background-color: lightskyblue;*/
  height: 656px;
}

.grid-container {
  display: grid;
  /*padding: px;*/
 

}

.grid-container > div {
  text-align: center;
  padding: 0px 0;
  font-family: 'Oswald', sans-serif;

  font-size: 30px;
}

.roh {
  color:white;
  font-family: 'Oswald', sans-serif;
}

.he1 {
  font-size: 77px;
  line-height: .9em;
  font-weight: 200;
}

.docon {
  margin-top: -134px;
  width: 90%;
  

}

.zoom {
  padding: 50px;
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.zoomf {
  padding: 70px;
  transition: transform .2s;
}

.zoomf:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgb(20,102,225);
}

.zoomi {
  padding: 70px;
  transition: transform .2s;
}

.zoomi:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #9e1bdc;
}

.zooml {
  padding: 70px;
  transition: transform .2s;
}

.zooml:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #3f729b;
}

.zoomy {
  padding: 70px;
  transition: transform .2s;
}

.zoomy:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #f9534e;
}

.titlebar {
  overflow: hidden;
}

.titlebar .next-back {
  float: right;
  margin: 12px 0;
}

.titlebar .next-back span a {
  font-size: 12px;
  text-transform: uppercase;
  font-family: Poppins;
  color: #222222;
}

.titlebar .next-back span a:hover {
  text-decoration: none;
  color: #888888;
}

.titlebar .next-back span {
  border-right: 1px solid #000;
  padding: 0 8px 0 5px;
  display: inline-block;
  line-height: 10px;
}

.titlebar .next-back span:last-child {
  border-right: none;
  padding-right: 0;
}

/* .carousel-inner > .carousel-item { */

/*   -webkit-transition: -webkit-transform 1.2s ease-in-out !important; */

/*   -o-transition: -o-transform 1.2s ease-in-out !important; */

/*   transition: transform 1.2s ease-in-out !important; */

/* } */

.carousel {
  margin-bottom: 0;
  padding: 0 0 30px 0;
}

.arrival-product .arrival-item ul {
  margin: 0;
  padding: 0;
}

.arrival-product .arrival-item ul li {
  float: left;
  list-style: none;
  width: 23%;
  overflow: hidden;
  margin-right: 2.6%;
}

.arrival-product .arrival-item ul li:last-child {
  margin-right: 0;
}

#background {
  height: 25vh;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("https://bufiles.blob.core.windows.net/co3615/slide/overlay.png") left center;
  background-size: cover;
}

.container h1 {
  color: white;
}

.videocontainer {
  height: 800px;
}
.videox {
  margin:0 auto;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
  font-size: 44px;
  margin-top: 8px;
}

